# Either set these variables in the environment or create a .env file in
# the working directory.

RUST_LOG=info

GITHUB_APP_ID=???  # From GitHub App settings
GITHUB_APP_PRIVATE_KEY=???  # base64-encoded PEM file

# See https://docs.rs/quaint/0.1.13/quaint/pooled/struct.Quaint.html#method.new for address format
DATABASE_ADDRESS=???